@import "./pages/home/home.css";
@import "./pages/cadastro/cadastro.css";
@import "./pages/feed/feed.css";

body {
  background-color: #ffff;
}

* {
  box-sizing: border-box;
  color: #000;
  margin: 0;

}

footer {
  bottom: 0;
  background-color: #fff9f7;
  font-family: Arial, sans-serif;
  width: 100%;
}


