body {
  background-color: #ffff;
}

* {
  box-sizing: border-box;
  color: #000

}

footer, ul {
  background-color: #fff9f7;
  padding: 20px;
  margin: 0 auto;
  max-width: 500px;
  font-family: Arial, sans-serif;
}
